@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --color_1: #ffffff;
    --color_2: #f5f3ef;
    --color_3: #ffd992;
    --color_4: #ffbdb7;
    --color_5: #d2d4fe;
    --color_6: #191b20;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
}

header .logo {
  width: 36px;
  height: auto;
}

header .header_button {
  padding:12px 6px;
  background-color: var(--color_3);
  border: 2px solid var(--color_6) ;
  border-radius: 8px;
}
header .header_button:hover{
  padding:12px 6px;
  background-color: var(--color_5);
  border: 2px solid var(--color_6) ;
  border-radius: 8px;
  transition: background-color 1s;
}

.nav_container {
  position: fixed;
  top: 12px;         
  left: 50%;   
  transform: translateX(-50%);  
  display: flex; 
}

.nav_container-links {
  display: flex;
  list-style: none;
  background-color: var(--color_5);
  padding: 6px 14px;
  border-radius: 12px;
  gap: 12px;
}

.nav_container-links li {
  padding: 6px 8px;
  border-radius: 8px;
}

.nav_container-links li:hover {
  background-color: var(--color_3);
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 3px -2px 38px 34px rgba(238,206,137,0.75) inset;
  -webkit-box-shadow: 3px -2px 38px 34px rgba(238,206,137,0.75) inset;
  -moz-box-shadow: 3px -2px 38px 34px rgba(238,206,137,0.75) inset;
}

.nav_container-links li a {
  text-decoration: none;
  color: var(--color_6);
  margin: 0px 6px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6,1fr);
}

.hero {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 11;
  /* padding: 12px; */
}

.hero__image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.main_heading-1 {
  grid-column-start: 3;
  grid-column-end: 11;
  text-align: center;
  font-size: 2.5rem;
}

.product {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--color_3);
}

.product_container {
  display: grid;
  grid-template-columns: repeat(8,1fr);

}
