@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    --color_1: #ffffff;
    --color_2: #F6B17A;
    --color_3: #7077A1;
    --color_4: #424769;
    --color_5: #2D3250;
    --color_6: #191b20;
    --color_7: #bf793f;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

.skipToContent{
  position: absolute;
  top: -100px;
  left: 0px;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.skipToContent:focus{
  top: 0;
}


.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  width: 100%;
  top: 0; 
  transition: top 0.3s;
}


.logo{
  max-height: 44px;
  max-width: 44px; 
  fill: var(--color_1);
}

.logo:hover{
  transition: fill 300ms ease-in-out;
  fill: var(--color_2);
}

.nav .nav-menu{
  height: 48px;
  width: 48px;
  outline: none;
  border: none;
  background-color: transparent;
}

.nav button i{
  font-size: 36px;
  font-weight: 900;
  color: var(--color_1);
}

.nav button i:hover{
  color: var(--color_2);
  transition: color 300ms ease-in-out;
}

.nav button:active i, .nav-links ul li a:active {
  opacity: 0.7;
}

.nav-menu {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1001; 
}

.nav-links{
  position: fixed;
  width: 75%;
  height: 100%;
  top: 0;
  /* umpetin keluar layar */
  right: -100%;
  background: var(--color_1);
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  transition: right 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

/* menu ketika class 'aktive' */
.nav-links.active {
  right: 0;
  background: var(--color_6);
  opacity: 1;
  visibility: visible;
  transition: right 1.5s ease, opacity 1.5s ease, visibility 0s linear 0s;
}

.nav-links.active ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* layer 2 */
  background: var(--color_6);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.nav-links.active ul li a{
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--color_1);
  min-width: 44px;
  min-height: 44px;
}
.nav-links.active ul li a:hover{
  color: var(--color_2);
  transition: color 300ms;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-content{
  background-image: radial-gradient(circle, rgba(255,255,255,0.004885993485342022) 1%, rgba(0,0,0,0.7866449511400652) 100%), url("/src/public/images/heros/hero-image_3.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.hero-content h1{
  font-size: 2.5rem;
  font-weight: 600;
}

.hero-content h1 span{
  color: var(--color_2);
}

.hero-content p{
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.cta-button {
    color: var(--color_1);
    font-weight: 300;
    font-size: 1rem;
    padding: 6px 12px;
    background-color: var(--color_2);
    border-radius: 16px;
    text-decoration: none;
    color: var(--color_1);
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    align-content: center;
}

.cta-button:hover {
  background-color: var(--color_6);
  border: 2px solid var(--color_2);
  transition: background-color 500ms, border-color 1000ms;
}

.cta-button i{
  text-decoration: none;
  color: var(--color_1);
  font-size: 1.2rem;
}

.cta-button-item{
  margin: 0px 10px 10px 10px;
  padding: 2px 12px;
  background-color: var(--color_2);
  outline: none;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--color_6);
  box-shadow: 0 4px 2px rgba(0,0,0,0.1);
}
.cta-button-item:hover{
  background-color: var(--color_6);
  border: 1px solid var(--color_2);
  color: var(--color_1);
  transition: background-color 500ms, border-color 1000ms;
}

#restaurantList{
  display: grid;
  grid-template-columns: repeat(auto-fit,max);
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 24px;
}
.item-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-rating i {
  color: gold;
}

.item-name {
  font-size: 18px;
  margin: 10px 10px 0px 10px;
}

.item-description {
  font-size: 14px;
  margin: 12px;
  height: 100px;
  overflow: auto;
  text-align: justify;
}


.card-item {
  background: var(--color_1);
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

.item-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-rating{
  display: flex;
  align-items: center;
}

.header-rating i {
  color: gold;
}

.item-name {
  font-size: 18px;
  margin: 10px;
}

.item-description {
  font-size: 14px;
  margin: 10px;
  height: 100px;
  overflow: auto;
}

footer {
    background-color: var(--color_2);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1;
}

.happs-info {
    margin-bottom: 20px;
}

.info-logo {
    margin-bottom: 10px;
    background: url(../public/images/resto/Typemark.svg);
    fill: var(--color_1);
    height: 44px;
    width: auto;
    min-width: 44px;
    min-height: 44px;
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social p{
  font-size: 2rem;
}
.social-links{
  display: flex;
}

.social-links a {
    color: var(--color_1);
    margin: 0 10px;
    font-size: 2rem;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.social-links a:hover {
    color: #eaeaea;
}

.happs-info p {
    margin-bottom: 10px;
}