/* Base Styles */
.restaurant-detail__menu li i {
    font-size: 1rem;
    padding-right: 4px;
}

.detail-header__info {
    justify-content: space-between;
    display: flex;
    position: absolute;
    align-items: center;
    top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.restaurant-detail__card {
    display: flex;
    flex-direction: column;
}

.favorites_view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 24px;
    justify-items: center;
}

.detail-header__info .restaurant-detail__rating h1 {
    font-size: 1em;
    color: var(--color_1);
}

.restaurant-detail__city {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.restaurant-detail__rating {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.restaurant-detail__rating h1 {
    color: #ffffff;
    margin: 0;
    margin-right: 5px;
}

.restaurant-detail__rating i {
    color: #ffffff;
}

.restaurant-detail__city h1 {
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    margin-right: 5px;
}

.restaurant-detail__city i {
    color: var(--color_1);
    font-size: 1.2em;
}

.restaurant-detail__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.restaurant-detail__info {
    padding: 20px;
}

.restaurant-detail__name {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.restaurant-detail__address {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.restaurant-detail__description {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--color_6);
    text-align: justify;
}

.restaurant-detail__menu-title {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
}

.restaurant-detail__menu {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.restaurant-detail__menu li {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    flex: 1 1 30%;
}

.restaurant-detail__reviews {
    list-style: none;
    padding: 0;
}

.review-card {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.review-card__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-card__header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.review-card__info {
    flex-grow: 1;
}

.review-card__name {
    font-weight: bold;
    margin: 0;
}

.review-card__date {
    color: #888;
    margin: 0;
}

.review-card__content {
    margin: 0;
    line-height: 1.6;
}

.restaurant-detail__review-form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}

#favoriteButtonContainer {
    position: fixed;
    bottom: 32px;
    right: 12px;
    z-index: 1000;
}

.favorite-button{
    background-color: var(--color_6);
    border: none;
    border-radius: 50%;
    padding: 12px;
    color: var(--color_1);
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.unfavorite-button{
    background-color: var(--color_1);
    border: none;
    border-radius: 50%;
    padding: 12px;
    color: var(--color_1);
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.favorite-button i, .unfavorite-button i {
    font-size: 2em;
}

.favorite-button i {
    color: #FF6347;
}

.unfavorite-button i {
    color: #FF6347;
}

.favorite-button:hover{
    background-color: #2b2b2b;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.unfavorite-button:hover {
    background-color: #eaeaee;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (min-width: 768px) {
    .detail-header__info {
        display: flex;
    }

    .restaurant-detail__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .restaurant-detail__info {
        flex: 1;
        margin-right: 20px;
    }

    .restaurant-detail__image {
        width: 100%;
        height: 40vh;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;

    }

    .restaurant-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
        margin: auto;
    }

    .details_view {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .restaurant-detail__container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        width: 75%;
    }
    #favoriteButtonContainer {
        position: fixed;
        bottom: 36px;
        right: 24px;
        z-index: 1000;
    }
    #formSection{
        padding-bottom: 18px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #reviewInputForm {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    .restaurant-detail__review-title{
        text-align: center;
        padding: 12px 0px;
    }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
    .restaurant-list {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        padding: 60px;
        margin: auto;
    }

    .details_view {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .restaurant-detail__container {
        margin: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        width: 75%;
    }

    .restaurant-detail__image {
        width: 100%;
        height: 50vh;
        min-height: 40vh;
        max-height: 50vh;
            .restaurant-detail__image {
        width: 100%;
        height: 60vh;
        min-height: 40vh;
        max-height: 60vh;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    }
        #favoriteButtonContainer {
        position: fixed;
        bottom: 32px;
        right: 18px;
        z-index: 1000;
    }
}

/* Large Desktop (min-width: 1200px) */
@media (min-width: 1200px) {
    .detail-header__info {
        display: flex;
    }

    .restaurant-detail__image {
        width: 100%;
        height: 60vh;
        min-height: 40vh;
        max-height: 60vh;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .restaurant-detail__header {
        display: flex;
        position: relative;
    }

    .restaurant-detail__container {
        margin: 20px;
        background-color: var(--color_1);
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        width: 75%;
    }

    .details_view {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
